.btn-primary {
  @apply px-3 py-2 bg-sky-700 hover:bg-sky-800 text-white font-semibold rounded-lg;
}
.href-btn {
  @apply px-3 py-2 bg-sky-700 hover:bg-sky-800 text-white font-semibold rounded-lg leading-7;
}
.input {
  @apply px-3 py-1.5 border-2 border-slate-500 rounded-lg font-semibold;
}
.icon-square {
  @apply p-2 border-2 rounded-lg cursor-pointer;
}

.loader {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #ccc;
  border-right-color: #888;
  border-radius: 22px;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.videos {
  display: grid;
  place-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
